<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature Suggestion</title>
</head>
<body>
    <h1>Suggest A Feature</h1>
    <form action="/feature-requests/" method="POST">
        Title: <input type="text" name="title" required> <br>
        Description: <textarea name="description" id="description" cols="30" rows="10" required></textarea>
        <input type="submit" name="" value="Submit">
    </form>
</body>
</html>