body {
  max-width: 920px;
  margin: auto;
  background-color: #f4f4f4;
}

a {
  color: #43bfbf;
}

a:hover {
  color: #43bfbf;
}

h1  {
  padding: 30px;
  text-align: center;
  color: #1a3066;
}

h3, h4  {
  color: #1a3066;
}

input, textarea {
  width: 100%;
  padding: 5px;
  border-color: #667380;
  border-width: 1px;
}

input:focus, textarea:focus {
  border-color: #43bfbf;
  outline-color: #43bfbf;
}

label {
  color: #667380;
  font-weight: 500;
}

.login, .signup, .new-suggestion, .edit-suggestion, .feature-suggestion, .new-comment, .comment  {
  background-color: #fafcfb;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 30px;
  -webkit-box-shadow: 10px 10px 15px 1px rgba(240,232,240,1);
  -moz-box-shadow: 10px 10px 15px 1px rgba(240,232,240,1);
  box-shadow: 10px 10px 15px 1px rgba(240,232,240,1);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.signup {
  width: 450px;
}

.new-suggestion, .edit-suggestion {
  width: 500px;
}

.feature-suggestion, .new-comment {
  width: 90%;
  margin-bottom: 35px;
}

.comments, .comment {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
}

.btn-primary  {
  width: 100%;
  background-color: #43bfbf;
  border-color: #43bfbf;
  margin-top: 15px;
  font-weight: 600;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: #43bfbf !important;
  border-color: #43bfbf;
}

.btn-primary:hover  {
  background-color: #4dcccc !important;
  border-color: #4dcccc;
}

.custom-checkbox  {
  padding-bottom: 20px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color: #43bfbf;
  border-color: none;
}

.no-account {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  color: #667380;
}

a.no-underline {
  text-decoration: none;
}

.back {
  margin-top: 10px;
  margin-bottom: 20px;
}

.login-footer {
  max-width: 920px;
  position: relative;
  width: 100%;
}

.signup-footer {
  max-width: 920px;
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.footer-text  {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 5px;
  font-size: 9px;
  color: #667380;
}

.footer-text  {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 5px;
  font-size: 9px;
  color: #667380;
}