body {
  max-width: 920px;
  margin: auto;
  background-color: #f4f4f4;
}

a {
  color: #43bfbf;
}

a:hover {
  color: #43bfbf;
}

h1  {
  padding: 30px;
  text-align: center;
  color: #1a3066;
  margin-left: 50px;
  margin-right: 50px;
}

h3, h4, h5  {
  color: #1a3066;
}

input, textarea {
  width: 100%;
  padding: 5px;
  border-color: #667380;
  border-width: 1px;
}

input:focus, textarea:focus {
  border-color: #43bfbf;
  outline-color: #43bfbf;
}

label {
  color: #667380;
  font-weight: 500;
}

.login, .signup, .new-suggestion, .edit-suggestion, .feature-suggestion, .new-comment, .comment, .feature-suggestion1 {
  background-color: #fafcfb;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 30px;
  -webkit-box-shadow: 10px 10px 15px 1px rgba(240,232,240,1);
  -moz-box-shadow: 10px 10px 15px 1px rgba(240,232,240,1);
  box-shadow: 10px 10px 15px 1px rgba(240,232,240,1);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.signup {
  width: 450px;
}

.new-suggestion, .edit-suggestion {
  width: 500px;
  margin-bottom: 50px;
}

.new-comment, .feature-suggestion {
  width: 90%;
  margin-bottom: 30px;
}

.feature-suggestion1 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 35px;
}

.comments, .comment {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
}

.btn-primary  {
  width: 100%;
  background-color: #43bfbf;
  border-color: #43bfbf;
  margin-top: 15px;
  font-weight: 600;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: #43bfbf !important;
  border-color: #43bfbf;
}

.btn-primary:hover  {
  background-color: #4dcccc !important;
  border-color: #4dcccc;
}

.new-request-button {
  margin-top: 0px;
  margin-bottom: 30px;
  max-width: 100px;
}

button:focus {
  outline: none;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: .25rem;
}

.edit-delete {
  background: none;
  border: 0px;
  color: #667380;
  padding-top: 5px;
  padding-bottom: 5px;
}

.edit-delete:hover {
  background: #4dcccc78;
}

.dropdown-menu  {
  padding:0px;
}

.dropdown-toggle {
  white-space: nowrap;
  font-size: 12px;
  margin-right: -20px;
  margin-top: -20px;
}

.text-truncate  {
  color: #8c959e;
}

.all-requests {
  padding-top: 0px;
}

.custom-checkbox  {
  padding-bottom: 20px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color: #43bfbf;
  border-color: none;
}

.no-account {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  color: #667380;
}

a.no-underline {
  text-decoration: none;
}

.back {
  margin-top: 10px;
  margin-bottom: 20px;
}

.login-footer {
  max-width: 920px;
  position: relative;
  width: 100%;
}

.signup-footer {
  max-width: 920px;
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.footer-text  {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 5px;
  font-size: 9px;
  color: #667380;
}

.footer-text  {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 5px;
  font-size: 9px;
  color: #667380;
}

.container-fluid  {
  display: flex;
}

.tab-title  {
  margin-top: -20px;
  padding-left: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fafcfb;
  background-color: #32bfbf;
}

/* Nav bar taken and adapted using Bootstrap from here: https://mdbootstrap.com/docs/jquery/navigation/hamburger-menu/ */

/* Nav Bar Styling  */
.navbar {
  max-width: 100px;
  margin-right: -30px;
}

.navbar-light .navbar-toggler {
  border-color: none !important;
}

.all-requests-nav {
  padding-top: 10px;
}
/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  }
  
  .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  }
  
  .animated-icon1 span {
  background: #43bfbf;
  }
  
  .animated-icon1 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon1 span:nth-child(2) {
  top: 10px;
  }
  
  .animated-icon1 span:nth-child(3) {
  top: 20px;
  }
  
  .animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  }
  
  .animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  }
  
  .animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  }