body {
  max-width: 920px;
  margin: auto;
  background-color: #f4f4f4;
}

h1  {
  padding: 30px;
  text-align: center;
}

form  {
  background-color: #fafcfb;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 30px;
  -webkit-box-shadow: 10px 10px 15px 1px rgba(240,232,240,1);
  -moz-box-shadow: 10px 10px 15px 1px rgba(240,232,240,1);
  box-shadow: 10px 10px 15px 1px rgba(240,232,240,1);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

input {
  width: 100%;
  padding: 5px;
}

label {
  color: #454b52;
}

.btn-primary  {
  width: 100%;
  background-color: #43bfbf;
  border-color: #43bfbf;
}

.btn-primary:hover  {
  width: 100%;
  background-color: #4dcccc;
  color: #fafcfb;
  border-color: #43bfbf;
}

.custom-checkbox  {
  padding-top: 20px;
  padding-bottom: 20px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color: #43bfbf;
  border-color: none;
}

.login-footer {
  max-width: 920px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.footer-text  {
  font-size: 10px;
}